/* Stylesheet */

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #cee6b4;
  padding: 0;
  margin: 0;
}

main {
  height: 120vh;
  background-color: rgb(255, 255, 255);
  margin: 40px 70px;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 15px;
}

h1 {
  /* Instead of using the color: function - we call the 'main-color' variable we have already set */
  letter-spacing: 0.5px;
  font-size: 35px;
  animation: rainbow-flash 2s ease-in-out infinite;
}

#user-input > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-boxes {
  /* This will stack the boxes and text and make the boxes take up a larger width of the page */
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.input-boxes:last-child {
  /* need to select the last of the input-boxes */
  /* text-align: center; did not work for some reason so I used display flex to get the button to the middle*/
  display: flex;
  align-items: center;
}

.input-boxes button {
  /* Editing the submission button */
  margin-top: 0.75rem;
  padding: 0.5rem 1.5rem;
  background-color: #3f979b;
  border: none;
  border-radius: 15px;
  color: white;
  font-weight: 600;
  height: 40px;
  width: 150px;
  cursor: pointer;
}

.input-boxes label {
  /* Adding gaps to the input box titles and fixing font size */
  padding-bottom: 0.25rem;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.input-boxes input {
  height: 30px;
  width: 600px;
}

.change {
  text-align: center;
}

.change h2 {
  /* Styling the header for the change section */
  color: rgb(32, 121, 159);
  font-size: 27px;
}

.change h3 {
  color: #54b435;
  font-weight: bolder;
}

/* .change-output{
 g
}
 */
th {
  /* Styling table headers */
  text-align: left;
}

table,
th,
td {
  /* Styling table borders */
  border: 3px solid rgb(32, 121, 159);
  border-collapse: collapse; /* Merges each cell's individual borders */
  margin-left: auto;
  margin-right: auto;
}

th,
td {
  padding: 10px; /* Space between cells */
}

button:hover {
  background-color: green;
  transform: scale(1.05);
}

.group-name {
  animation: pulsate 2s ease-out infinite;
  text-shadow: 0 0 20px rgb(255, 0, 0), 0 0 30px #e100ff, 0 0 40px #1100ff,
    0 0 50px #ae00ff, 0 0 60px #ff00ff, 0 0 70px #002fff;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.title {
  border-bottom: solid 2px rgb(255, 0, 0);
  animation: border-pulse 2s ease-out infinite;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

@keyframes border-pulse {
  0% {
    border-color: rgb(0, 0, 0);
  }
  100% {
    border-color: rainbow;
  }
}

h2 {
  animation: rainbow-flash 2s ease-in-out infinite;
}

@keyframes rainbow-flash {
  0% {
    color: red;
  }
  20% {
    color: orange;
  }
  40% {
    color: rgb(126, 126, 40);
  }
  60% {
    color: green;
  }
  80% {
    color: blue;
  }
  100% {
    color: purple;
  }
}

footer {
  height: 80px;
  background-color: #2e8149;
  text-align: center;
  padding: 10px;
  color: white;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .input-boxes input {
    height: 30px;
    width: 90%;
  }
}
